html {
	background: slategray;
}

.game {
	background: #333;
	border-radius: 2px;
	
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
	margin-top: 10%;
    display: block;
    
}

h1 {
	color: white;
	text-align: center;
	font-family: sans-serif;
}

button {
	text-align: center;
	
	padding: 12px;
	border-radius: 2px;
	font-size: 1.2em;
    margin-left: auto;
    margin-right: auto;
	margin-top: 12px;
    display: block;
}

textarea {
	font-family: sans-serif;
	text-align: left;
	resize: none;
	text-transform: uppercase;
	padding: 4px;
	border-radius: 2px;
	font-size: 1.2em;
	font-weight: 800;
    margin-left: auto;
    margin-right: auto;
	margin-top: 12px;
}


.controls {
	display: flex;
	width: 300px;
	margin: auto;
}